In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv(r"C:\Users\devad\Downloads\nike_sales_2024.csv")
data

,Month,Region,Main_Category,Sub_Category,Product_Line,Price_Tier,Units_Sold,Revenue_USD,Online_Sales_Percentage,Retail_Price
0,November,India,Equipment,Bags,Gym Sack,Budget,48356,14506800,73,300
1,January,India,Equipment,Accessories,Hats,Budget,9842,2066820,50,210
2,October,India,Apparel,Tops,Tech Fleece,Mid-Range,25079,1755530,90,70
3,December,Greater China,Footwear,Cricket,Vapor Cricket,Premium,41404,8694840,58,210
4,May,Greater China,Equipment,Socks,Performance Socks,Premium,33569,5371040,53,160
...,...,...,...,...,...,...,...,...,...,...
995,October,India,Equipment,Accessories,Hats,Mid-Range,9870,987000,82,100
996,July,Europe,Equipment,Socks,Performance Socks,Mid-Range,14668,2640240,88,180
997,August,Japan,Footwear,Football,Phantom Vision,Premium,15078,2261700,74,150
998,May,South Korea,Equipment,Socks,Crew Socks,Premium,26242,1312100,52,50
999,December,Japan,Footwear,Cricket,Vapor Cricket,Mid-Range,18133,5077240,68,280

In [4]:
data.head()

,Month,Region,Main_Category,Sub_Category,Product_Line,Price_Tier,Units_Sold,Revenue_USD,Online_Sales_Percentage,Retail_Price
0,November,India,Equipment,Bags,Gym Sack,Budget,48356,14506800,73,300
1,January,India,Equipment,Accessories,Hats,Budget,9842,2066820,50,210
2,October,India,Apparel,Tops,Tech Fleece,Mid-Range,25079,1755530,90,70
3,December,Greater China,Footwear,Cricket,Vapor Cricket,Premium,41404,8694840,58,210
4,May,Greater China,Equipment,Socks,Performance Socks,Premium,33569,5371040,53,160

In [5]:
data.tail()

,Month,Region,Main_Category,Sub_Category,Product_Line,Price_Tier,Units_Sold,Revenue_USD,Online_Sales_Percentage,Retail_Price
995,October,India,Equipment,Accessories,Hats,Mid-Range,9870,987000,82,100
996,July,Europe,Equipment,Socks,Performance Socks,Mid-Range,14668,2640240,88,180
997,August,Japan,Footwear,Football,Phantom Vision,Premium,15078,2261700,74,150
998,May,South Korea,Equipment,Socks,Crew Socks,Premium,26242,1312100,52,50
999,December,Japan,Footwear,Cricket,Vapor Cricket,Mid-Range,18133,5077240,68,280

In [6]:
data.describe()

         Units_Sold   Revenue_USD  Online_Sales_Percentage  Retail_Price
count   1000.000000  1.000000e+03              1000.000000    1000.00000
mean   28498.951000  5.039576e+06                70.040000     176.32000
std    12926.495678  3.267217e+06                11.748635      75.26169
min     5028.000000  2.874000e+05                50.000000      50.00000
25%    17554.250000  2.344675e+06                60.000000     110.00000
50%    28685.000000  4.328020e+06                71.000000     180.00000
75%    40026.000000  7.264942e+06                80.000000     240.00000
max    49992.000000  1.486470e+07                90.000000     300.00000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    1000 non-null   object
 1   Region                   1000 non-null   object
 2   Main_Category            1000 non-null   object
 3   Sub_Category             1000 non-null   object
 4   Product_Line             1000 non-null   object
 5   Price_Tier               1000 non-null   object
 6   Units_Sold               1000 non-null   int64
 7   Revenue_USD              1000 non-null   int64
 8   Online_Sales_Percentage  1000 non-null   int64
 9   Retail_Price             1000 non-null   int64
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [8]:
data.shape

(1000, 10)

In [9]:
data.isnull().sum()

Month                      0
Region                     0
Main_Category              0
Sub_Category               0
Product_Line               0
Price_Tier                 0
Units_Sold                 0
Revenue_USD                0
Online_Sales_Percentage    0
Retail_Price               0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['Month'] = le.fit_transform(data['Month'])
data['Region'] = le.fit_transform(data['Region'])
data['Main_Category'] = le.fit_transform(data['Main_Category'])
data['Sub_Category'] = le.fit_transform(data['Sub_Category'])
data['OS'] = le.fit_transform(data['OS'])
data['Primary Use'] = le.fit_transform(data['Primary Use'])

In [ ]:
data

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
from sklearn.model_selection import train_test_split

x = data.drop(['OS'], axis=1)
y = data['OS']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from sklearn.svm import SVC

model = SVC(kernel='linear',random_state=1)
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)
y_pred

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.4f}")

In [ ]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)

print(f" Accuracy of R2_Score = {r2}")